<div class="wrapper">
  <app-sidebar style="background: white !important;"></app-sidebar>
  <div class="main">
    <nav class="navbar navbar-expand navbar-theme">
      <a class="sidebar-toggle d-flex mr-2">
        <i class="hamburger align-self-center"></i>
      </a>
    </nav>
    <main class="content">
      <div class="container-fluid">

        <div class="header">
          <h1 class="header-title">
            Mapa
          </h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/dashboard']"> Dashboard</a></li>
            </ol>
          </nav>
        </div>

        <div class="row">
          <div class="col-12 col-xl-12">
            <div class="card">
              <div class="card-header">
                <div class="wrapper">

                  <div id="map" class="map-container"></div>

                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

  </div>
</div>
